.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}
.menuLink {
    display: inline-flex;
    background-color: var(--primary);
    align-items: center;
    justify-content: center;
    color: var(--text-over-primary);
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    padding: 1.2rem;
    border-radius: 10px;
}
.menuLink:hover {
    filter: brightness(80%);
}
.menuLink svg{
    width: 2.4rem;
    height: 2.4rem;
}